# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore bin/ where all bytecode regenerable files are
bin/

# Ignore class path
.classpath
.project

# Ignore tex related files
*.toc
*.synctex.gz
*.synctex.bbl
*.synctex.blg
*.log
*.out
*.aux
*.bbl
*.blg
*.mdj
svg/
*.svg
*.idx

# Ignore IDE folders
.idea/
.settings/org.eclipse.jdt.core.prefs

# Ignore game savings files
save_file.txt
